.stock {
  display: flex;
  .stock__graph {
    float: left;
  }
  .stock__info {
    float: right;
    
  }
}

.exchange {
  display: flex;
  .exchange__graph {
    float: left;
  }
  .exchange__info {
    float: right;
  }
}

.footer {
  .footer__container {
    .button {
      margin-top: 3%;
    }
  }
}

.stocks {
  margin-top: 3%;
}

.exchanges {
  margin-top: 3%;
}